@import './variables.css';
@import './card.css';
@import './actions.css';

*{
    margin: 0;
    padding: 0;
}
body {
	min-height: 100vh;
	background-color: var(--very-dark-blue-bg);
	font-family: var(--font-family);
}
.intro{
	height: 17rem;
	background-color: var(--very-dark-blue-top-bg-pattern);
}
.intro > div{
	padding: 3rem 8rem;
	display: flex;
	justify-content: space-between;
}
.intro__head{
	color: var(--white-text);
}
.intro__subtext{
	color: var(--dark-grayish-blue-text);
	font-weight: var(--font-weight-lg);
}
.overview{
	color: var(--white-text);
	padding-bottom: 0.5rem ;
}
.card__container{
	padding: 3rem 8rem 0rem;
	position: relative;
	margin-bottom: -7rem;
}
.card__container > div{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	top: -10rem;
	margin-left: -1rem
}
.attribution{
	color: var(--white-text);
}
.attribution > p > a > span{
	font-size: x-large;
	color: var(--desaturated-blue-text);
}
.attribution > p > a{
	text-decoration: none;
}
